body {
  font-family: Arial, sans-serif;
  background-color: #15202b;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100vh;
  background-color: #192734;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.left-column {
  flex-shrink: 0;
  width: 24em;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.middle-column {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

.right-column {
  flex-shrink: 0;
  width: 32em;
  padding-left: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #2e4451;
  text-align: left;
}

.table th {
  background-color: #192734;
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.button_home {
  display: inline-block;
  padding: 8px 16px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10px;
}

.sair-btn {
  margin-top: 20px;
  display: block;
  text-decoration: none;
}

.cadastrar-btn {
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card__side {
  background-color: #192734;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.titulo h1 {
  font-size: 24px;
  color: #1da1f2;
}

.login_form {
  text-align: center;
}

.login_input {
  display: block;
  margin: 10px auto;
  padding: 8px 16px;
  width: 100%;
  border: 1px solid #2e4451;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: #15202b;
  color: #fff;
}

.login_button {
  display: block;
  margin: 20px auto;
  padding: 8px 16px;
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 9999px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.news {
  background-color: #192734;
  padding: 20px;
  border-radius: 8px;
}

.news h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.news p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
}

.tweets {
  background-color: #15202b;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.tweets h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.tweet {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #2e4451;
  padding: 10px 0;
}

.tweet img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  border-radius: 50%;
}

.tweet .user {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1da1f2;
}

.tweet .message {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tweet .user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.tweet .message p {
  margin-bottom: 10px;
  color: #fff;
}

.tweet .actions {
  display: flex;
  align-items: center;
}

.tweet .actions img {
  width: 16px;
  margin-right: 8px;
}

.tweet .btn-like,
.tweet .btn-retweet {
  background-color: transparent;
  color: #1da1f2;
  border: none;
  cursor: pointer;
  outline: none;
}

.tweet .btn-like img,
.tweet .btn-retweet img {
  width: 16px;
  margin-right: 8px;
}

.tweet {
  position: relative;
}

.btn-options {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
}

.popup {
  display: none;
  position: absolute;
  right: 5px; /* Ajuste o valor conforme necessário */
  top: 30%; /* Posiciona o popup abaixo do elemento */
  background-color: #192734;
  border: 1px solid #2e4451;
  border-radius: 4px;
  padding: 5px;
}

.popup.show {
  display: block;
}

.popup ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popup ul li {
  padding: 5px;
}

.popup ul li a {
  color: #fff;
  text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .left-column,
  .right-column {
    width: 100%;
    padding: 0;
  }

  .middle-column {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px) {
  .tweets,
  .news {
    padding: 10px;
  }

  .tweet img {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }

  .tweet .user-name,
  .tweet .message p {
    font-size: 12px;
  }

  .btn-options {
    font-size: 14px;
  }
}

.top-section {
  text-align: center;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.bottom-section {
  text-align: center;
  padding-bottom: 10px;
}

.tweet-dialog {
  font-family: Arial, sans-serif;
}

.tweet-dialog form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.tweet-dialog label {
  font-weight: bold;
  margin-bottom: 5px;
}

.tweet-dialog textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-bottom: 10px;
}

.tweet-dialog button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.tweet-dialog .cancel {
  background-color: #1da1f2;
}

.tweet-dialog .confirm {
  background-color: #dc3545;
}

.liked .fa-heart {
  color: red;
}
